<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="~{/common/fragments :: page_head(${pageTitle}, 'tag', 'form')}"/>
	<link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
	<link rel="stylesheet" th:href="@{/css/products_form.css}" />
	<script th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>

<body>
	<div>
		<!-- Navigation Bar -->
		<div th:replace="~{/common/header :: navbar('Products')}"></div>
		
		<!-- Tabs -->
		<div class="mt-3 mb-3 container-fluid">
			<ul class="nav nav-justified link-tab-manager" id="myTab" role="tablist">
				<li class="nav-item">
			    	<a class="nav-link active" data-bs-toggle="tab" data-bs-target="#overview" 
			    	   role="tab" type="button">
			    		<span class="align-middle">Overview</span>
			    	</a>
			  	</li>
			  	<li class="nav-item">
			    	<a class="nav-link" data-bs-toggle="tab" data-bs-target="#description" 
			    	   role="tab" type="button">
			    		<span class="align-middle">Description</span>
			    	</a>
			  	</li>
			  	<li class="nav-item">
			    	<a class="nav-link" data-bs-toggle="tab" data-bs-target="#images" 
			    	   role="tab" type="button">
			    		<span class="align-middle">Images</span>
			    	</a>
			  	</li>
			  	<li class="nav-item">
			    	<a class="nav-link" data-bs-toggle="tab" data-bs-target="#details" 
			    	   role="tab" type="button">
			    		<span class="align-middle">Details</span>
			    	</a>
			  	</li>
			  	<li class="nav-item">
			    	<a class="nav-link" data-bs-toggle="tab" data-bs-target="#shipping" 
			    	   role="tab" type="button">
			    		<span class="align-middle">Shipping</span>
		    	    </a>
			  	</li>
			</ul>
		</div>
		
		<!-- Data Collection Form -->
		<form class="container-fluid" th:action="@{/products/save}" method="post" style="margin: 0 auto" 
		      enctype="multipart/form-data" th:object="${product}" onsubmit="return checkName(this);">
		    <!-- Required Properties -->
			<input type="hidden" th:field="*{id}" />
			<input th:if="${product.category != null}" type="hidden" id="categoryId" th:value="${product.category.id}" />
			<div class="border border-secondary rounded p-3">
				<!-- Form Header -->
				<div class="mb-3">
					<h2>[[${pageTitle}]]</h2>
				</div>
				<hr />
				<!-- Form Panels -->
				<div class="tab-content">
					<!-- Overview Section -->
					<div class="tab-pane active fade show" id="overview" role="tabpanel">
						<div th:replace="~{products/products_form_overview :: content}"></div>
					</div>
					<!-- Description Section -->
					<div class="tab-pane fade" id="description" role="tabpanel">
						<div th:replace="~{products/products_form_description :: content}"></div>
					</div>
					<!-- Images Section -->
					<div class="tab-pane fade" id="images" role="tabpanel">
						<div th:replace="~{products/products_form_images :: content}"></div>
					</div>
					<!-- Details Section -->
					<div class="tab-pane fade" id="details" role="tabpanel">
						<div th:replace="~{products/products_form_details :: content}"></div>
						<!-- Add New Detail Line -->
						<div class="row mb-3">
							<div class="input-group" style="width: 47.5%" title="Name must be 2-255 characters long">
								<label class="text-muted detail-label-padding">Name:</label>
								<input disabled type="text" class="form-control rounded" name="detailName" pattern=".{2,255}"/>
							</div>
							<div class="input-group" style="width: 47.5%" title="Value must be 2-255 characters long">
								<label class="text-muted detail-label-padding">Value:</label>
								<input disabled type="text" class="form-control rounded" name="detailValue" pattern=".{2,255}"/>
							</div>
							<!-- Add New Detail Button -->
							<div class="input-group" style="width: 5%" title="Add a detail">
								<a class="detail-button-padding detail-button-manager" onclick="showNextDetailSection();"> 
									<i class="fa-solid fa-circle-plus fa-2x"></i>
								</a>
							</div>
						</div>
					</div>
					<!-- Shipping Section -->
					<div class="tab-pane fade" id="shipping" role="tabpanel">
						<div th:replace="~{products/products_form_shipping :: content}"></div>
					</div>
				</div>
				<!-- Form Footer -->
				<div>
					<span class="form-text text-muted">ps. Blanks marked with * are required</span>
				</div>
				<hr/>
				<div class="text-center">
					<input type="submit" value="Submit" class="btn btn-outline-danger m-2" />&nbsp;&nbsp;
					<input type="button" value="Cancel" class="btn btn-outline-dark" id="cancelButton" />
				</div>
			</div>
		</form>
		
		<!-- Name/Alias Conflict Modal -->
		<div th:replace="~{/common/modal :: modal_unique}"></div>
		<!-- Footer -->
		<div th:replace="~{/common/footer :: footer}"></div>
		
	</div>
	
	<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
	<script type="text/javascript" th:src="@{/js/products_form_overview.js}"></script>
	<script type="text/javascript" th:src="@{/js/products_form_description.js}"></script>
	<script type="text/javascript" th:src="@{/js/products_form_images.js}"></script>
	<script type="text/javascript" th:src="@{/js/products_form_details.js}"></script>
	<script type="text/javascript">
		MAX_FILE_SIZE = 1048576; // 1MB
		moduleURL = "[[@{/products}]]";
		brandModuleURL = "[[@{/brands}]]";
		defaultImageThumbnail = "[[@{${product.defaultImagePathString}}]]";
	</script>
	
</body>

</html>
