<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="content" th:remove="tag">
		<div class="form-group mb-3 rounded" style="width: 30%" title="Image should be smaller than 1MB">
			<label class="col-form-label" for="mainImageFile">Main Image</label>
			<input class="form-control text-muted mb-3" type="file" id="imageFile" name="image" 
			       accept="image/png image/jpeg">
			<img id="thumbnail" alt="Main Image Preview" style="width: 100%" th:src="@{${product.mainImagePathString}}"/>
		</div>
	</div>
	
</body>
</html>
