<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<head th:replace="~{/universal::head('Buyee', 'tag', 'index')}"/>
	<script type="text/javascript" th:src="@{/js/actions/scroll.js}"></script>
</head>
<body>
	<div>
		<!-- Header (navigation bar) -->
		<div th:replace="~{/components/header::navbar('')}"></div>
		<!-- Float Window Message -->
		<div th:replace="~{/components/header::floatwindow}"></div>
		<!-- Search Bar -->
		<div id="scrollBox" class="container-fluid sticky-top pt-3 pb-3" 
			 style="background-color: var(--cf-white);">
			<div th:replace="~{/components/search::bar_list('', '')}"></div>
		</div>
		<div class="cf-header-list container-fluid">
			<!-- Page Title -->
			<div class="mb-3 mt-3">
				<h2>Categories</h2>
			</div>
			<!-- Root Categories -->
			<div class="cf-tab-left mb-3">
				<th:block th:each="catgory: ${listRootCategories}">
					<a th:href="@{'/c/'+${catgory.alias}}" class="cf-badge-list">
						<span class="badge rounded-pill badge-outline text-dark fw-normal"
							  style="border: 1px solid black; margin-right: 10px;">[[${catgory.name}]]</span>
					</a>
				</th:block>
			</div>
		</div>
		<!-- Categories display -->
		<div class="container-fluid mb-3">
			<div class="row">
				<th:block th:each="category: ${listNoChildrenCategories}">
					<div class="form-group rounded cf-expandable-image cf-image-box" th:title="${category.name}">
						<div class="cf-image-content">
							<a class="mb-3 mt-3 cf-text-index-list" th:href="@{'/c/' + ${category.alias}}">
								[[${category.name}]]
							</a>
							<hr/>
							<div class="cf-image-inner-box">
								<img th:alt="${category.image}" style="width: 100%" th:src="@{${category.imagePathString}}"/>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>
		<!-- Footer -->
		<div th:replace="~{/components/footer::navbar('')}"></div>
	</div>
</body>
</html>
