<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="~{/universal::head(${pageTitle}, 'tag', 'brands_form')}"/>
	<script type="text/javascript" th:src="@{/js/webpages/brands/brands_form.js}"></script>
	<script type="text/javascript" th:src="@{/js/components/form.js}"></script>
	<script type="text/javascript">
		let moduleURL = "[[@{/brands}]]";
		let MAX_FILE_SIZE = 1048576; // 1MB
	</script>
</head>
<body>
	<div>
		<!-- Navigation Bar -->
		<div th:replace="~{/components/header::navbar('Brands')}"></div>
		<!-- Data Collection Form -->
		<form class="mt-3 container-fluid" th:action="@{/brands/save}" method="post" style="margin: 0 auto" 
		      enctype="multipart/form-data" th:object="${brand}" onsubmit="return checkName(this);">
		    <!-- Required Properties -->
			<input type="hidden" th:field="*{id}" />
			<div class="border border-secondary rounded p-3">
				<!-- Form Header -->
				<div th:replace="~{/components/header::form_cancel(${pageTitle})}"></div>
				<!-- Name -->
				<div class="form-group mb-3" title="Name must be 3-128 characters long">
					<label class="col-form-label" for="inputName">Name *</label>
					<div>
						<input type="text" class="form-control" th:field="*{name}" pattern=".{1,128}" 
						       placeholder="eg. Apple" id="inputName" />
					</div>
				</div>
				<!-- Categories -->
				<div class="form-group mb-3" title="Press 'ctrl/shift + left click' for multiple selection">
					<!-- Categories Drop Down Menu -->
					<label class="col-form-label" for="inputCategories">Categories</label>
					<div class="cf-dropdown-form">
						<select multiple class="form-control" th:field="*{categories}">
							<th:block th:each="category: ${listCategories}">
								<option th:value="${category.id}">[[${category.name}]]</option>
							</th:block>
						</select>
					</div>
					<!-- Selected Categories Preview -->
					<div id="selectedCategories" class="mt-2"></div>
				</div>
				<!-- Logo -->
				<div class="form-group mb-3" title="Image should be smaller than 1MB">
					<input type="hidden" th:field=*{logo}></input> 
					<!-- Logo Input -->
					<label for="imageFile" class="form-label">Logo</label> 
					<input class="form-control text-muted mb-3" type="file" id="imageFile" name="imageFile" 
					       accept="image/png image/jpeg">
					<!-- Logo Preview -->
					<img class="cf-thumbnail-form" id="thumbnail" th:src="@{${brand.getLogoPathString()}}"/>
				</div>
				<!-- Form Footer -->
				<div th:replace="~{/components/footer::form}"></div>
			</div>
		</form>
		<!-- Name/Alias Conflict Modal -->
		<div th:replace="~{/components/modal::warn}"></div>
		<!-- Footer -->
		<div th:replace="~{/components/footer::navbar('')}"></div>
	</div>
</body>
</html>
