<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="~{/universal::head('Brands - Buyee Admin', 'tag', 'brands')}"/>
	<script type="text/javascript" th:src="@{/js/components/table.js}"></script>
</head>
<body>
	<div>
		<!-- Header (navigation bar) -->
		<div th:replace="~{/components/header::navbar('Brands')}"></div>
		<!-- Float Window Message -->
		<div th:replace="~{/components/header::floatwindow}"></div>
		<!-- Dock with Command Buttons and Search Bar -->
		<div th:replace="~{/components/dock :: search_buttons('brands')}"></div>
		<!-- Brands Table with full-details -->
		<div class="container-fluid full-details">
			<table class="table table-bordered table-hover table-responsive-xl">
				<!-- Table Head -->
				<thead>
					<tr>
						<!-- Logo -->
						<th th:replace="~{/components/text::switch('brands', 'logo', 'Logo', '50px', 'text-center', false)}" />
						<!-- ID -->
						<th th:replace="~{/components/text::switch('brands', 'id', 'ID', '70px', 'text-center', true)}" />
						<!-- Name -->
						<th th:replace="~{/components/text::switch('brands', 'name', 'Name', '', '', true)}" />
						<!-- Categories -->
						<th th:replace="~{/components/text::switch('brands', 'categories', 'Categories', '55%', '', false)}" />
						<!-- Actions -->
						<th th:replace="~{/components/text::switch('brands', '', 'Actions', '40px', 'text-center', false)}" />
					</tr>
				</thead>
				<!-- Table Body -->
				<tbody>
					<tr th:each="brand : ${listBrands}">
						<!-- Logo -->
						<td class="align-middle text-center">
							<img th:src="@{${brand.getLogoPathString()}}" style="width: 50px" />	
						</td>
						<!-- ID -->
						<td class="align-middle text-center" th:text="${brand.getId()}"></td>
						<!-- Name -->
						<td class="align-middle" th:text="${brand.getName()}"></td>
						<!-- Categories -->
						<td class="align-middle">
							<span th:each="category : ${brand.getCategories()}"
								  class="badge rounded-pill text-bg-light fw-normal cf-badge">[[${category.name}]]</span>
						</td>
						<!-- Actions -->
						<td class="align-middle text-center">
							<!-- Edit -->
							<a th:replace="~{/components/button::edit('brands', ${brand}, '')}"></a>&nbsp;&nbsp;
							<!-- Delete -->
							<a th:replace="~{/components/button::delete_instance('brands', ${brand}, '')}"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Table with less details -->
		<div class="less-details container-fluid">
			<table class="container-fluid">
				<tbody>
					<hr/>
					<tr th:each="brand : ${listBrands}">
						<td>
							<div class="row mb-3">
								<!-- Left: Photo -->
								<div style="width: 220px">
									<img th:src="@{${brand.getLogoPathString()}}" style="width: 100%" />
								</div>
								<!-- Middle: Information -->
								<div style="width: 40%; padding-left: 0">
									<div class="mb-2"><b>ID: </b>[[${brand.id}]]</div>
									<div class="mb-2"><b>Name: </b>[[${brand.name}]]</div>
									<div><b>Categories: </b></div>
									<div class="mb-2">
										<span th:each="category : ${brand.categories}"
								 			  class="badge rounded-pill text-bg-dark fw-normal cf-badge">
								 			[[${category.name}]]
								 		</span>
									</div>
								</div>
								<!-- Right: Enabled & Actions -->
								<div class="" style="width: 64px; margin-left: auto">
									<!-- Enabled -->
									<a th:replace="~{/components/button::edit('brands', ${brand}, 'fa-2x mb-4 icon-padding')}"></a>
									<!-- Delete -->
									<a th:replace="~{/components/button::delete_instance('brands', ${brand}, 'fa-2x icon-padding')}"></a>
								</div>
							</div>
							<hr />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Pagination -->
		<div th:replace="~{/components/pagination::bar('brands')}"></div>
		<!-- Delete User Confirmation Modal -->
		<div th:replace="~{/components/modal::confirm}"></div>
		<!-- Footer -->
		<div th:replace="~{/components/footer::navbar('')}"></div>
	</div>
</body>
</html>
