<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{/universal :: head('Home - Buyee Admin', 'none', 'index')}" />
<body>
	<div>
		<!-- Header (navigation bar) -->
		<div th:replace="~{/components/header :: navbar('')}"></div>
		<!-- Float Window Message -->
		<div th:replace="~{/components/header :: floatwindow}"></div>
		<!-- Welcome -->
		<div class="mt-3 container-fluid">
			<h2>Buyee Control Panel</h2>
			<a class="link-account-manager" th:href="@{/account}">
				Welcome
				<span sec:authentication="principal.fullName"></span>
				<span sec:authentication="principal.authorities"></span>
			</a>
		</div>
		<!-- Footer -->
		<div th:replace="~{/components/footer :: footer}"></div>
	</div>
</body>
</html>
