<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="~{/universal::head('Account Details', 'tag', 'account_form')}"/>
	<script type="text/javascript" th:src="@{/js/webpages/users/account_form.js}"></script>
	<script type="text/javascript" th:src="@{/js/components/form.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/}]]"
		MAX_FILE_SIZE = 1048576; // 1MB
	</script>
</head>
<body>
	<div>
		<!-- Header (navigation bar) -->	
		<div th:replace="~{/components/header::navbar('Account')}"></div>
		<!-- Data Collection Form -->
		<form class="mt-3 container-fluid" th:action="@{/account/update}" method="post" style="margin: 0 auto" 
		      enctype="multipart/form-data" th:object="${user}">
		    <!-- Required properties for account -->
			<input type="hidden" th:field="*{id}" />
			<div class="border border-secondary rounded p-3">
			    <!-- Form Header -->
				<div th:replace="~{/components/header::form_cancel('Account Info')}"></div>
			    <!-- Read-only User Information -->
			    	<!-- User ID -->
				<div class="form-group">
					<label class="col-form-label">
						<b>ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
						[[${user.id}]]
					</label>
				</div>
			    	<!-- User Role -->
				<div class="form-group">
					<label class="col-form-label"><b>Roles: </b>[[${user.roles}]]</label>
				</div>
			    	<!-- User Email -->
				<div class="form-group mb-3">
					<label class="col-form-label" for="inputEmail"><b>Email: </b>[[${user.email}]]</label>
				</div>   
				<hr/>
		    	<!-- Password -->
				<div class="form-group mb-3" title="You password must be 2-20 characters long">
					<label class="col-form-label" for="inputPassword">Password</label>
					<div><input type="password" class="form-control" th:field="*{password}" pattern=".{2,20}" 
							    placeholder="Leave blank if password is unchanged" id="inputPassword" 
							    oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"/></div>
				</div>
		    	<!-- Password Confirmation -->
				<div class="form-group mb-3" title="Enter the same password again">
					<label class="col-form-label" for="confirmPassword">Confirm Password</label>
					<div><input type="password" class="form-control" pattern=".{2,20}" id="confirmPassword" 
							    placeholder="Leave blank if password is unchanged" oninput="checkPasswordMatch(this)"/></div>
				</div>
		    	<!-- First Name -->
				<div class="form-group mb-3" title="You first name must be 2-30 characters long">
					<label class="col-form-label" for="inputFirstName">First Name *</label>
					<div><input type="text" class="form-control" th:field="*{firstName}" required pattern=".{2,30}" 
							    placeholder="First Name" id="inputFirstName"/></div>
				</div>
		    	<!-- Last Name -->
				<div class="form-group mb-3" title="You last name must be 2-30 characters long">
					<label class="col-form-label" for="inputLastName">Last Name *</label>
					<div><input type="text" class="form-control" th:field="*{lastName}" required pattern=".{2,30}" 
							    placeholder="Last Name" id="inputLastName"/></div>
				</div>
		    	<!-- Photo -->
				<div class="form-group mb-3" title="Image should be smaller than 1MB">
					<input type="hidden" th:field=*{photo}></input> 
					<label for="imageFile" class="form-label">Photo</label> 
					<input class="form-control text-muted mb-3" type="file" id="imageFile" name="image" 
					       accept="image/png image/jpeg">
					<img class="cf-thumbnail-form" id="thumbnail" th:src="@{${user.photoPathString}}"/>
				</div>
				<!-- Form Footer -->
				<div th:replace="~{/components/footer::form}"></div>
			</div>
		</form>
		<!-- Footer -->
		<div th:replace="~{components/footer::copyright}"></div>
	</div>
</body>
</html>
