<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="~{/universal::head('Users - Buyee Admin', 'tag', 'users')}"/>
	<script type="text/javascript" th:src="@{/js/components/table.js}"></script>
</head>
<body>
	<div>
		<!-- Header (navigation bar) -->
		<div th:replace="~{/components/header::navbar('Users')}"></div>
		<!-- Float Window Message -->
		<div th:replace="~{/components/header::floatwindow}"></div>
		<!-- Dock with Search Bar and Command Buttons -->
		<div th:replace="~{/components/dock::search_buttons('users')}"></div>
		<!-- Users Table with full-details -->
		<div class="container-fluid full-details">
			<table class="table table-bordered table-hover table-responsive-xl">
				<!-- Table Head -->
				<thead>
					<tr>
						<!-- Photo -->
						<th th:replace="~{/components/text::switch('users', 'photo', 'Photo', '50px', 'text-center', false)}" />
						<!-- ID -->
						<th th:replace="~{/components/text::switch('users', 'id', 'ID', '70px', 'hideable-column text-center', true)}" />
						<!-- Email -->
						<th th:replace="~{/components/text::switch('users', 'email', 'Email', null, 'hideable-column', true)}" />
						<!-- First Name -->
						<th th:replace="~{/components/text::switch('users', 'firstName', 'First Name', '170px', '', true)}" />
						<!-- Last Name -->
						<th th:replace="~{/components/text::switch('users', 'lastName', 'Last Name', '170px', '', true)}" />
						<!-- Roles -->
						<th th:replace="~{/components/text::switch('users', 'roles', 'Roles', '380px', '', false)}" />
						<!-- Enabled -->
						<th th:replace="~{/components/text::switch('users', 'enabled', 'Enabled', '120px', 'text-center', true)}" />
						<!-- Actions -->
						<th th:replace="~{/components/text::switch('users', '', 'Actions', '40px', 'text-center', false)}" />
					</tr>
				</thead>
				<!-- Table Body -->
				<tbody>
					<tr th:each="user : ${listUsers}">
						<!-- Photo -->
						<td class="align-middle text-center">
							<img th:src="@{${user.getPhotoPathString()}}" style="width: 50px" />
						</td>
						<!-- ID -->
						<td class="align-middle hideable-column text-center" th:text="${user.getId()}" />
						<!-- Email -->
						<td class="align-middle hideable-column" th:text="${user.getEmail()}" />
						<!-- First Name -->
						<td class="align-middle" th:text="${user.getFirstName()}" />
						<!-- Last Name -->
						<td class="align-middle" th:text="${user.getLastName()}" />
						<!-- Roles -->
						<td class="align-middle">
							<span th:each="role : ${user.getRoles()}"
								  class="badge rounded-pill text-bg-light fw-normal cf-badge">[[${role.name}]]</span>
						</td>
						<!-- Enabled -->
						<td class="align-middle text-center">
							<div th:replace="~{/components/button::enable('users', ${user}, '')}"></div>
						</td>
						<!-- Actions -->
						<td class="align-middle text-center">
							<!-- Edit -->
							<a th:replace="~{/components/button::edit('users', ${user}, '')}"></a>&nbsp;&nbsp;
							<!-- Delete -->
							<a th:replace="~{/components/button::delete_instance('users', ${user}, '')}"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Table with less details -->
		<div class="less-details container-fluid">
			<table class="container-fluid">
				<tbody>
					<hr/>
					<tr th:each="user : ${listUsers}">
						<td>
							<div class="row mb-3">
								<!-- Left: Photo -->
								<div style="width: 220px">
									<img th:src="@{${user.getPhotoPathString()}}" style="width: 100%" />
								</div>
								<!-- Middle: Information -->
								<div style="width: 40%; padding-left: 0">
									<div class="mb-2"><b>ID: </b>[[${user.id}]]</div>
									<div class="mb-2"><b>Name: </b>[[${user.getFullName}]]</div>
									<div class="mb-2"><b>Email: </b>[[${user.email}]]</div>
									<div><b>Roles: </b></div>
									<div class="mb-2">
										<span th:each="role: ${user.roles}"
								 			  class="badge rounded-pill text-bg-dark fw-normal cf-badge">
								 			[[${role.name}]]
								 		</span>
									</div>
								</div>
								<!-- Right: Enabled & Actions -->
								<div style="width: 64px; margin-left: auto;">
									<!-- Enabled -->
									<div th:replace="~{/components/button::enable('users', ${user}, 'fa-2x mb-3')}"></div>
									<!-- Edit -->
									<a th:replace="~{/components/button::edit('users', ${user}, 'fa-2x mb-4')}"></a>
									<!-- Delete -->
									<a th:replace="~{/components/button::delete_instance('users', ${user}, 'fa-2x')}"></a>
								</div>
							</div>
							<hr />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Pagination -->
		<div th:replace="~{/components/pagination::bar('users')}"></div>
		<!-- Delete User Confirmation Modal -->
		<div th:replace="~{/components/modal::confirm}"></div>
		<!-- Footer -->
		<div th:replace="~{/components/footer::navbar('')}"></div>
	</div>
</body>
</html>
