<!-- ####################################### -->
<!-- ## Section Item in webpages's header ## -->
<!-- ####################################### -->
<!-- General sections without authorization -->
<li th:fragment="navbar(sectionName, sectionIcon)"
	th:class="${activeItem == sectionName 
				? 'cf-list-item nav-item ml-auto cf-dropdown-header cf-text-header-item-active' 
				: 'cf-list-item nav-item ml-auto cf-dropdown-header cf-text-header-item-inactive'}">
	<!-- Toggler -->
	<a class="nav-link dropdown-toggle cf-less-header-text" th:href="@{${'/' + sectionName.toLowerCase()}}">
		[[${sectionName}]]
	</a>
	<a class="nav-link dropdown-toggle cf-full-header-text" th:href="@{${'/' + sectionName.toLowerCase()}}"
	   th:title="${sectionName}">
		<i th:class="${sectionIcon}"></i>
	</a>
	<!-- Drop Down Menu -->
	<div class="cf-dropdown-header-content" style="min-width: 150px; z-index: 12;">
		<a th:href="@{'/' + ${sectionName.toLowerCase()}}">[[${sectionName}]]</a>
		<a th:href="@{'/' + ${sectionName.toLowerCase()} + '/new'}">Create New</a>
  	</div>
</li>
<!-- Customized copyright -->
<li th:fragment="navbar_copyright" class="cf-list-item-right cf-list-item" style="width: 230px">
	<a class="nav-link">Buyee E-Commerce &copy; Buyee</a>
</li>
