@import '../../components/header.css';
@import '../../components/form.css';
@import './products_form_description.css';
@import './products_form_images.css';
@import './products_form_details.css';
/* Tab */
.link-tab-manager {
	border-radius: var(--main-border-radius);
	border: 1px solid var(--main-gray-light);
}
.link-tab-manager>li>a {
	color: var(--main-gray-normal);
	border-radius: var(--main-border-radius);
	text-decoration: none;
	height: var(--main-command-bar-height);
}
.link-tab-manager>li>.active {
	color: var(--main-pink-bright);
}
.link-tab-manager>li>a:hover {
	color: var(--main-white-bright);
	background-color: var(--main-pink-bright);
}
