@import '../../components/header.css';
@import '../../components/search.css';
@import '../../components/table.css';
@import './products_modal.css';
/* Text Link */
.text-action>a {
	color: var(--main-black-normal);
	text-decoration: underline dotted var(--main-gray-normal);
	text-underline-offset: 8px;
}
.text-action:hover>a {
	color: var(--main-pink-bright);
	text-decoration: underline solid var(--main-pink-bright);
}
