/*********************/
/* Buttons in Header */
/*********************/
/* navbar toggler */
.cf-button-navbar {margin-right: calc(var(--cf-gx) * .5);}
/*******************/
/* Buttons in Dock */
/*******************/
/* General buttons setting */
.cf-button-dock {
	color: var(--cf-gray);
	text-decoration: none
}
.cf-button-dock:hover {color: var(--cf-red);}
/* Customized for clear_search button */
.cf-button-clear {
	border: 1px solid var(--cf-gray-light);
	background-color: var(--cf-transparent);;
}
.cf-button-clear-left {border-right: 0px;}
.cf-button-clear-middle {
	border-left: 0px;
	border-right: 0px;
}
.cf-button-clear-right {border-left: 0px;}
/********************/
/* Buttons in Table */
/********************/
.cf-button-table {
	color: var(--cf-gray);
	text-decoration: none
}
.cf-button-table:hover {color: var(--cf-red);}
.cf-button-file {padding-left: 2px;}
/*******************/
/* Buttons in Form */
/*******************/
/* Image File Delete Button in Products' Images Form */
.cf-button-delete-image {
	color: var(--cf-gray);
	text-decoration: none
}
.cf-button-delete-image:hover {color: var(--cf-red);}
/* Add/Delete Buttons in Products' Details Form */
.cf-button-form {
	color: var(--cf-gray-light);
	text-decoration: none
}
.cf-button-form:hover {
	color: var(--cf-red);
	cursor: pointer;
}
