/*********************/
/* Buttons in Header */
/*********************/
.cf-button-navbar {
	margin-right: calc(var(--cf-gx) * .5);
}
/*******************/
/* Buttons in Dock */
/*******************/
/* General buttons setting */
.link-button-manager {
	color: var(--cf-gray);
	text-decoration: none
}
.link-button-manager:hover {
	color: var(--cf-red);
}
/* Customized for clear_search button */
.link-clear-custom {
	border: 1px solid var(--cf-gray-light);
	background-color: var(--cf-transparent);;
}
.link-clear-left {
	border-right: 0px;
}
.link-clear-middle {
	border-left: 0px;
	border-right: 0px;
}
.link-clear-right {
	border-left: 0px;
}
/********************/
/* Buttons in Table */
/********************/
.icon-action {
	color: var(--cf-gray);
}
.icon-action:hover {
	color: var(--cf-red);
}
.icon-no-deco {
	text-decoration: none
}
.file-icon-padding {
	padding-left: 2px;
}
/*******************/
/* Buttons in Form */
/*******************/
/* Image File Delete Button in Products' Images Form */
.link-delete-manager {
	color: var(--cf-gray);
	text-decoration: none
}
.link-delete-manager:hover {
	color: var(--cf-red);
}
/* Add/Delete Buttons in Products' Details Form */
.detail-button-manager {
	color: var(--cf-gray-light);
	text-decoration: none
}
.detail-button-manager:hover {
	color: var(--cf-red);
	cursor: pointer;
}
