/* Filter Bar */
.filter-bar-custom {
	border: 1px solid var(--main-gray-light);
	border-left: 0px;
	padding: 0 0 0 0;
}
.filter-bar-custom>#filter {
	margin: 0 0 0 0;
	border: var(--main-transparent);
	height: var(--main-command-bar-height);
	font-size: var(--main-font-size);
}
