/* Sub Components */
@import './button.css';
@import './text.css';
@import './dropdown.css';
/* Main Header Nav Bar */
.section-list-custom {
	padding-left: calc(var(--main-gutter-x) * .5); 
	padding-right: calc(var(--main-gutter-x) * .5);
	margin-right: auto;
}
/* Main Header Float Window */
.float-square {
	border-radius: 0px;
	border: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.float-square-item {
	color: var(--main-white-bright);
	border: 0px;
	border-top: 1px solid var(--main-gray-normal);
	border-radius: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}
/* Modal Header */
.model-header-custom {
	background-color: var(--main-black-normal); 
	color: var(--main-white-bright);
}
.model-header-custom>h4 {
	color: var(--main-white-bright);
}
