@import './text.css';
@import './dropdown.css';
/* Float Window */
.float-square {
	border-radius: 0px;
	border: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.float-square-item {
	color: var(--main-white-bright);
	border: 0px;
	border-top: 1px solid var(--main-gray-normal);
	border-radius: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}
