/* Search Bar */
.search-bar-custom {
	border: 1px solid var(--main-gray-light);
	border-left: 0px;
	padding: 0 0 0 0;
}
.search-bar-custom>#search {
	margin: 0 0 0 0;
	border: var(--main-transparent);
	height: var(--main-command-bar-height);
}
