/* Float Island Tab */
.float-island-tab {
	border-radius: var(--cf-r-border);
	border: 1px solid var(--cf-gray-light);
}
.float-island-tab>li>a {
	color: var(--cf-gray);
	border-radius: var(--cf-r-border);
	text-decoration: none;
	height: var(--cf-h-dock);
	border: 1px solid var(--cf-white);
}
.float-island-tab>li>a:hover {
	color: var(--cf-white);
	background-color: var(--cf-red);
	border: 1px solid var(--cf-red);
}
.float-island-tab>li>.active {
	color: var(--cf-white);
	background-color: var(--cf-red);
	border: 1px solid var(--cf-red);
}
.float-island-tab>li>.active:hover {
	color: var(--cf-red);
	background-color: var(--cf-white);
}
/* No Border Tab */
.full-width-tab {
	background-color: var(--cf-black);
}
.full-width-tab>li>a {
	color: var(--cf-gray);
	text-decoration: none;
	height: var(--cf-h-dock);
	border-top: 2px solid var(--cf-black);
}
.full-width-tab>li>a:hover, .full-width-tab>li>.active {
	color: var(--cf-black);
	background-color: var(--cf-white);
	border-bottom: 2px dotted var(--cf-gray-light-su);
	border-top: 2px solid var(--cf-gray-light-su);
}
.full-width-tab>li>.active:hover {
	color: var(--cf-gray);
}
