<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="~{/universal::head(${pageTitle}, 'tag', 'products_form')}"/>
	<!-- Common JS Codes for Form -->
	<script type="text/javascript" th:src="@{/js/components/form.js}"></script>
	<!-- Products Form JS Codes -->
	<script type="text/javascript" th:src="@{/js/webpages/products/products_form_description.js}"></script>
	<script type="text/javascript" th:src="@{/js/webpages/products/products_form_images.js}"></script>
	<script type="text/javascript" th:src="@{/js/webpages/products/products_form_details.js}"></script>
	<!-- RichText Editor for Description Section -->
	<link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
	<script th:src="@{/richtext/jquery.richtext.min.js}"></script>
	<!-- Customized Variables -->
	<script type="text/javascript">
		let moduleURL = "[[@{/products}]]";
		let brandModuleURL = "[[@{/brands}]]";
		let MAX_FILE_SIZE = 1048576; // 1MB
		let defaultImageThumbnail = "[[@{${product.defaultImagePathString}}]]";
	</script>
</head>
<body>
	<div>
		<!-- Navigation Bar -->
		<div th:replace="~{/components/header::navbar('Products')}"></div>
		<!-- Tabs -->
		<div class="container-fluid mt-3 mb-3">
			<div th:replace="~{/components/tab::bar('float-island-tab')}"></div>
		</div>
		<!-- Data Collection Form -->
		<form class="container-fluid" th:action="@{/products/save}" method="post" style="margin: 0 auto" 
		      enctype="multipart/form-data" th:object="${product}" onsubmit="return checkName(this);">
		    <!-- Required Properties -->
			<input type="hidden" th:field="*{id}" />
			<input th:if="${product.category != null}" type="hidden" id="categoryId" th:value="${product.category.id}" />
			<div class="border border-secondary rounded p-3">
				<!-- Form Header -->
				<div class="mb-3">
					<h2>[[${pageTitle}]]</h2>
				</div>
				<hr />
				<!-- Form Panels -->
				<div class="tab-content">
					<!-- Overview Section -->
					<div class="tab-pane active fade show" id="overview" role="tabpanel">
						<div th:replace="~{/webpages/products/products_form_overview :: content}"></div>
					</div>
					<!-- Description Section -->
					<div class="tab-pane fade" id="description" role="tabpanel">
						<div th:replace="~{/webpages/products/products_form_description :: content}"></div>
					</div>
					<!-- Images Section -->
					<div class="tab-pane fade" id="images" role="tabpanel">
						<div th:replace="~{/webpages/products/products_form_images :: content}"></div>
					</div>
					<!-- Details Section -->
					<div class="tab-pane fade" id="details" role="tabpanel">
						<!-- Existing Details and Input Details -->
						<div th:replace="~{/webpages/products/products_form_details :: content}"></div>
						<!-- Add New Detail Line -->
						<!-- read/write authorization for admins and editors -->
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
							<div class="row mb-3">
								<div class="input-group" style="width: 47.5%">
									<label class="text-muted detail-label-padding">Name:</label>
									<input disabled type="text" class="form-control rounded"/>
								</div>
								<div class="input-group" style="width: 47.5%">
									<label class="text-muted detail-label-padding">Value:</label>
									<input disabled type="text" class="form-control rounded"/>
								</div>
								<!-- Add New Detail Button -->
								<div class="input-group" style="width: 5%" title="Add a detail">
									<a class="detail-button-padding detail-button-manager" onclick="showNextDetailSection();"> 
										<i class="fa-solid fa-circle-plus fa-2x"></i>
									</a>
								</div>
							</div>
						</th:block>
					</div>
					<!-- Shipping Section -->
					<div class="tab-pane fade" id="shipping" role="tabpanel">
						<div th:replace="~{/webpages/products/products_form_shipping :: content}"></div>
					</div>
				</div>
				<!-- Form Footer -->
				<div th:replace="~{/components/footer::form}"></div>
			</div>
		</form>
		<!-- Name/Alias Conflict Modal -->
		<div th:replace="~{/components/modal::warn}"></div>
		<!-- Footer -->
		<div th:replace="~{/components/footer::copyright}"></div>
	</div>
	<!-- Products Overview JS Codes -->
	<script type="text/javascript" th:src="@{/js/webpages/products/products_form_overview.js}"></script>	
</body>
</html>
