<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="~{/universal::head('Products - Buyee Admin', 'tag', 'products')}"/>
	<script type="text/javascript" th:src="@{/js/webpages/products/products.js}"></script>
	<script type="text/javascript" th:src="@{/js/components/table.js}"></script>
</head>
<body>
	<div>
		<!-- Header (navigation bar) -->
		<div th:replace="~{/components/header::navbar('Products')}"></div>
		<!-- Float Window Message -->
		<div th:replace="~{/components/header::floatwindow}"></div>
		<!-- Dock with Search Bar and Command Buttons -->
		<div th:replace="~{/components/dock::search_buttons('products')}"></div>
		<!-- Products Table with full-details -->
		<div class="container-fluid full-details">
			<table class="table table-bordered table-hover table-responsive-xl">
				<!-- Table Head -->
				<thead>
					<tr>
						<th th:replace="~{/components/table::head_link('products', 'mainImage', 'Image', '50px', 'text-center', false)}" />
						<th th:replace="~{/components/table::head_link('products', 'id', 'ID', '70px', 'text-center', true)}" />
						<th th:replace="~{/components/table::head_link('products', 'name', 'Name', '', '', true)}" />
						<th th:replace="~{/components/table::head_link('products', 'brand', 'Brand', '150px', '', true)}" />
						<th th:replace="~{/components/table::head_link('products', 'category', 'Category', '150px', '', true)}" />
						<th th:replace="~{/components/table::head_link('products', 'enabled', 'Enabled', '120px', 'text-center', true)}" />
						<th th:replace="~{/components/table::head_link('products', '', 'Actions', '100px', 'text-center', false)}" />
					</tr>
				</thead> 
				<!-- Table Body -->
				<tbody>
					<tr th:each="product:${listProducts}">
						<!-- Main Image -->
						<td class="align-middle text-center">
							<img th:src="@{${product.getMainImagePathString()}}" style="width: 50px" />	
						</td>
						<!-- ID -->
						<td class="align-middle text-center" th:text="${product.id}" />
						<!-- Name -->
						<td class="align-middle text-action">
							<!-- link-detail is required for using preview-modal -->
							<a class="link-detail" title="View this product" th:text="${product.shortName}" 
							   th:href="@{'/products/view/' + ${product.id}}"></a> 
						</td>
						<!-- Brand Name -->
						<td class="align-middle" th:text="${product.brand.name}" />
						<!-- Category Name -->
						<td class="align-middle">
							<span th:each="category:${product.getCategory()}"
								  class="badge rounded-pill text-bg-light fw-normal badge-custom">[[${category.name}]]</span>
						</td>
						<!-- Enabled -->
						<td class="align-middle text-center">
							<div th:replace="~{/components/table::button-enabled('products', ${product}, '')}"></div>
						</td>
						<!-- Actions -->
						<td class="align-middle text-center">
							<a th:replace="~{/components/table::button-view('products', ${product}, 'link-detail')}"></a>&nbsp;&nbsp;
							<a th:replace="~{/components/table::button-update('products', ${product}, '')}"></a>&nbsp;&nbsp;
							<a th:replace="~{/components/table::button-delete('products', ${product}, '')}"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Pagination -->
		<div th:replace="~{/components/table::pagination('products')}"></div>
		<!-- Delete User Confirmation Modal -->
		<div th:replace="~{/components/modal::confirm}"></div>
		<!-- Product Preview Modal -->
		<div th:replace="~{/components/modal::preview}"></div>
		<!-- Footer -->
		<div th:replace="~{/components/footer::copyright}"></div>
	</div>
</body>
</html>
