<!-- Main content of the overview section in the products' form -->
<div th:fragment="content" th:remove="tag">
	<!-- Product Name -->
	<div class="form-group mb-3" title="Name must be 3-256 characters long">
		<label class="col-form-label" for="inputName">Name *</label>
		<div>
			<!-- read/write authorization for admins and editors -->
			<!-- readonly authorization for salesperson -->
			<input type="text" class="form-control" th:field="*{name}" pattern=".{3,256}" 
			       placeholder="eg. iPhone 12" id="inputName"
			       th:disabled="${#authorization.expression('hasAuthority(''Salesperson'')')}" />
		</div>
	</div>
	<!-- Product Alias -->
	<div class="form-group mb-3" title="Alias must be 3-512 characters long">
		<label class="col-form-label" for="inputAlias">Alias</label>
		<div>
			<!-- read/write authorization for admins and editors -->
			<!-- readonly authorization for salesperson -->
			<input type="text" class="form-control" th:field="*{alias}" pattern=".{3,512}" id="inputAlias"
			       placeholder="Default is the product name (whitespaces are replaced by underlines)"
			       th:disabled="${#authorization.expression('hasAuthority(''Salesperson'')')}" />
		</div>
	</div>
	<!-- Brand -->
	<div class="form-group mb-3" title="Please select a brand">
		<label class="col-form-label">Brand *</label>
		<div>
			<!-- read/write authorization for admins and editors -->
			<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
				<select th:field="*{brand}" class="form-control" required>
					<th:block th:each="brand : ${listBrands}">
						<option th:value="${brand.id}">[[${brand.name}]]</option>
					</th:block>
				</select>
			</th:block>
			<!-- readonly authorization for salesperson -->
			<th:block sec:authorize="hasAnyAuthority('Salesperson')">
				<input type="text" class="form-control" th:value="${product.brand.name}" disabled />
			</th:block>
		</div>
	</div>
	<!-- Category -->
	<div class="form-group mb-3" title="Please select a category">
		<label class="col-form-label">Category *</label>
		<div>
			<!-- read/write authorization for admins and editors -->
			<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
				<!-- Add New Product Mode -->
				<th:block th:if="${product.category == null}">
					<select th:field="*{category}" class="form-control" required></select>
				</th:block>
				<!-- Edit Product Mode -->
				<th:block th:if="${product.category != null}">
					<select th:field="*{category}" class="form-control" required>
						<th:block th:each="category : ${product.brand.sortedCategories}">
							<option th:value="${category.id}">[[${category.name}]]</option>
						</th:block>
					</select>
				</th:block>
			</th:block>
			<!-- readonly authorization for salesperson -->
			<th:block sec:authorize="hasAnyAuthority('Salesperson')">
				<input type="text" class="form-control" th:value="${product.category.name}" disabled />
			</th:block>
		</div>
	</div>
	<!-- Enabled -->
	<div class="form-group mb-3" title="Enable/disable the product">
		<label class="col-form-label">Enabled</label>
		<div>
			<!-- read/write authorization for admins and editors -->
			<!-- readonly authorization for salesperson -->
			<input class="checkbox-custom" type="checkbox" th:field="*{enabled}" 
			       th:disabled="${#authorization.expression('hasAuthority(''Salesperson'')')}" />
			<label class="col-sm-1">Yes</label>
		</div>
	</div>
	<!-- In Stock -->
	<div class="form-group mb-3" title="Is the product in-stock?">
		<label class="col-form-label">In-Stock</label>
		<div>
			<!-- read/write authorization for admins and editors -->
			<!-- readonly authorization for salesperson -->
			<input class="checkbox-custom" type="checkbox" th:field="*{inStock}" 
			       th:disabled="${#authorization.expression('hasAuthority(''Salesperson'')')}" />
			<label class="col-sm-1">Yes</label>
		</div>
	</div>
	<!-- Cost -->
	<div class="form-group mb-3" title="Please enter the cost of this product">
		<label class="col-form-label" for="inputCost">Cost</label>
		<div>
			<!-- read/write authorization for all roles with access to this page -->
			<input type="number" class="form-control" th:field="*{cost}" id="inputCost" />
		</div>
	</div>
	<!-- Price -->
	<div class="form-group mb-3" title="Please enter the price of this product">
		<label class="col-form-label" for="inputPrice">Price</label>
		<div>
			<!-- read/write authorization for all roles with access to this page -->
			<input type="number" class="form-control" th:field="*{price}" id="inputPrice" />
		</div>
	</div>
	<!-- Discount -->
	<div class="form-group mb-3" title="Please enter the discount percent of this product">
		<label class="col-form-label" for="inputDiscount">Discount</label>
		<div>
			<!-- read/write authorization for all roles with access to this page -->
			<input type="number" class="form-control" th:field="*{discountPercent}" id="inputDiscount" />
		</div>
	</div>
</div>
