<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="form-group mb-3" title="Please write a short description for the product">
			<label class="col-form-label" for="shortDescription">Short Description</label>
			<textarea class="form-control" th:field="*{shortDescription}" rows="10"></textarea>
		</div>
		<div class="form-group mb-3" title="Please write a full description for the product">
			<label class="col-form-label" for="fullDescription">Full Description</label>
			<textarea class="form-control" th:field="*{fullDescription}" rows="10"></textarea>
		</div>
	</div>
</body>
</html>
