<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="~{/universal::head('Products - Buyee Admin', 'tag', 'products')}"/>
	<script type="text/javascript" th:src="@{/js/webpages/products/products.js}"></script>
	<script type="text/javascript" th:src="@{/js/components/table.js}"></script>
	<script type="text/javascript" th:src="@{/js/components/filter.js}"></script>
</head>
<body>
	<div>
		<!-- Header (navigation bar) -->
		<div th:replace="~{/components/header::navbar('Products')}"></div>
		<!-- Float Window Message -->
		<div th:replace="~{/components/header::floatwindow}"></div>
		<!-- Dock with Search Bar and Command Buttons -->
		<div th:replace="~{/components/dock::products}"></div>
		<!-- Products Table with full-details -->
		<div class="container-fluid full-details">
			<table class="table table-bordered table-hover table-responsive-xl">
				<!-- Table Head -->
				<thead>
					<tr>
						<!-- Main Image -->
						<th th:replace="~{/components/sort::switch('products', 'mainImage', 'Image', '50px', 'text-center', false)}" />
						<!-- ID -->
						<th th:replace="~{/components/sort::switch('products', 'id', 'ID', '70px', 'text-center', true)}" />
						<!-- Name -->
						<th th:replace="~{/components/sort::switch('products', 'name', 'Name', '', '', true)}" />
						<!-- Brand -->
						<th th:replace="~{/components/sort::switch('products', 'brand', 'Brand', '150px', '', false)}" />
						<!-- Category -->
						<th th:replace="~{/components/sort::switch('products', 'category', 'Category', '150px', '', false)}" />
						<!-- Enabled -->
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
							<th th:replace="~{/components/sort::switch('products', 'enabled', 'Enabled', '120px', 'text-center', true)}" />
						</th:block>
						<!-- Actions -->
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson', 'Shipper')">
							<th th:replace="~{/components/sort::switch('products', '', 'Actions', '100px', 'text-center', false)}" />
						</th:block>
					</tr>
				</thead> 
				<!-- Table Body -->
				<tbody>
					<tr th:each="product:${listProducts}">
						<!-- Main Image -->
						<td class="align-middle text-center">
							<img th:src="@{${product.getMainImagePathString()}}" style="width: 50px" />	
						</td>
						<!-- ID -->
						<td class="align-middle text-center" th:text="${product.id}" />
						<!-- Name -->
						<td class="align-middle text-action">
							<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson', 'Shipper')">
								<!-- link-detail is required for using preview-modal -->
								<a class="link-detail" title="View this product" th:text="${product.shortName}" 
								   th:href="@{'/products/view/' + ${product.id}}"></a> 
							</th:block>
							<th:block sec:authorize="hasAuthority('Assistant')">
								<a title="View this product" th:text="${product.shortName}"></a> 
							</th:block>
						</td>
						<!-- Brand Name -->
						<td class="align-middle" th:text="${product.brand.name}" />
						<!-- Category Name -->
						<td class="align-middle">
							<span th:each="category:${product.getCategory()}"
								  class="badge rounded-pill text-bg-light fw-normal badge-custom">[[${category.name}]]</span>
						</td>
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
							<!-- Enabled -->
							<td class="align-middle text-center">
								<div th:replace="~{/components/button::enable('products', ${product}, '')}"></div>
							</td>
						</th:block>
						<!-- Actions -->
						<td class="align-middle text-center">
							<!-- View -->
							<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson', 'Shipper')">
								<!-- link-detail is required for using preview-modal -->
								<a th:replace="~{/components/button::view('products', ${product}, 'link-detail')}"></a>
							</th:block>
							<!-- Edit -->
							<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
								&nbsp;&nbsp;
								<a th:replace="~{/components/button::edit('products', ${product}, '')}"></a>
							</th:block>
							<!-- Delete -->
							<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
								&nbsp;&nbsp;
								<a th:replace="~{/components/button::delete('products', ${product}, '')}"></a>
							</th:block>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Pagination -->
		<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson', 'Shipper')">
			<div th:replace="~{/components/pagination::bar('products')}"></div>
		</th:block>
		<!-- Delete User Confirmation Modal -->
		<div th:replace="~{/components/modal::confirm}"></div>
		<!-- Product Preview Modal -->
		<div th:replace="~{/components/modal::preview}"></div>
		<!-- Footer -->
		<div th:replace="~{/components/footer::copyright}"></div>
	</div>
</body>
</html>
