<div th:fragment="content" th:remove="tag">
	<!-- read/write authorization for admins and editors -->
	<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
		<div id="divProductDetails">
			<!-- All Existing Details -->
			<th:block th:each="detail, status : ${product.details}">
				<div th:id="'divDetail' + ${status.index}" class="row mb-3">
					<!-- Required Properties -->
					<input type="hidden" name="detailIds" th:value="${detail.id}"/>
					<!-- Detail's Name -->
					<div class="input-group cf-shrinkable-bar-long" style="width: calc(50% - 30px)" title="Name must be 2-255 characters long">
						<label class="detail-label-padding">Name:</label>
						<input type="text" class="form-control rounded" name="detailNames" pattern=".{2,255}"
							   th:value="${detail.name}"/>
					</div>
					<!-- Detail's Value -->
					<div class="input-group cf-shrinkable-bar-short" style="width: calc(50% - 30px)" title="Value must be 2-255 characters long">
						<label class="detail-label-padding">Value:</label>
						<input type="text" class="form-control rounded" name="detailValues" pattern=".{2,255}"
							   th:value="${detail.value}"/>
					</div>
					<!-- Delete Button -->
					<div th:replace="~{/components/button::delete_detail}"></div>
				</div>
			</th:block>
			<!-- New Detail Blank -->
			<div th:id="'divDetail' + ${#lists.size(product.details)}" class="row mb-3">
				<!-- Required Properties -->
				<input type="hidden" name="detailIds" th:value="0"/>
				<!-- Detail's Name -->
				<div class="input-group cf-shrinkable-bar-long" style="width: calc(50% - 30px)" title="Name must be 2-255 characters long">
					<label class="detail-label-padding">Name:</label>
					<input type="text" class="form-control rounded" name="detailNames" pattern=".{2,255}"/>
				</div>
				<!-- Detail's Value -->
				<div class="input-group cf-shrinkable-bar-short" style="width: calc(50% - 30px)" title="Value must be 2-255 characters long">
					<label class="detail-label-padding">Value:</label>
					<input type="text" class="form-control rounded" name="detailValues" pattern=".{2,255}"/>
				</div>
				<!-- Delete Button -->
				<div th:replace="~{/components/button::delete_detail}"></div>
			</div>
		</div> 
	</th:block>
	<!-- read-only authorization for salesperson -->
	<th:block sec:authorize="hasAuthority('Salesperson')">
		<!-- Details Table -->
		<div class="full-details" style="padding-top: calc(.375rem + 1px)">
			<table class="table table-bordered table-hover table-responsive-xl">
				<!-- Table Head -->
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Value</th>
					</tr>
				</thead> 
				<!-- Table Body -->
				<tbody>
					<tr th:each="detail, status:${product.details}">
						<td>[[${status.index+1}]]</td>
						<td>[[${detail.name}]]</td>
						<td>[[${detail.value}]]</td>
					</tr>
				</tbody>
			</table>
		</div>
	</th:block>
</div>
