<div th:fragment="content" th:remove="tag">
	<!-- Short Description -->
	<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
		<!-- read/write authorization for admins and editors -->
		<div class="form-group mb-3" title="Please write a short description for the product">
			<label class="col-form-label" for="shortDescription">Short Description</label>
			<textarea class="form-control" th:field="*{shortDescription}" rows="10"></textarea>
		</div>
	</th:block>
	<th:block sec:authorize="hasAuthority('Salesperson')">
		<!-- readonly authorization for salesperson -->
		<div class="form-group mb-3">
			<label class="col-form-label">Short Description</label>
			<div class="form-control" th:utext="${product.shortDescription}" readonly></div>
		</div>
	</th:block>
	<!-- Full Description -->
	<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
		<!-- read/write authorization for admins and editors -->
		<div class="form-group mb-3" title="Please write a full description for the product">
			<label class="col-form-label" for="fullDescription">Full Description</label>
			<textarea class="form-control" th:field="*{fullDescription}" rows="10"></textarea>
		</div>
	</th:block>
	<th:block sec:authorize="hasAuthority('Salesperson')">
		<!-- readonly authorization for salesperson -->
		<div class="form-group mb-3">
			<label class="col-form-label">Full Description</label>
			<div class="form-control" th:utext="${product.fullDescription}" readonly></div>
		</div>
	</th:block>
</div>
