<div th:fragment="content" th:remove="tag">
	<div id="divProductDetails">
		<!-- All Existing Details -->
		<th:block th:each="detail, status : ${product.details}">
			<div th:id="'divDetail' + ${status.index}" class="row mb-3">
				<!-- Required Properties -->
				<input type="hidden" name="detailIds" th:value="${detail.id}"/>
				<!-- Detail's Name -->
				<div class="input-group" style="width: 47.5%" title="Name must be 2-255 characters long">
					<label class="detail-label-padding">Name:</label>
					<input type="text" class="form-control rounded" name="detailNames" pattern=".{2,255}"
						   th:value="${detail.name}"/>
				</div>
				<!-- Detail's Value -->
				<div class="input-group" style="width: 47.5%" title="Value must be 2-255 characters long">
					<label class="detail-label-padding">Value:</label>
					<input type="text" class="form-control rounded" name="detailValues" pattern=".{2,255}"
						   th:value="${detail.value}"/>
				</div>
				<!-- Delete Button -->
				<div class="input-group" style="width: 5%" title="Delete this detail">
					<a class="detail-button-padding detail-button-manager linkRemoveDetail">
					    <i class="fa-solid fa-square-xmark fa-2x" style="height: 100% ; padding: 0.1rem"></i>
					</a>	
				</div>
			</div>
		</th:block>
		<!-- New Detail Blank -->
		<div th:id="'divDetail' + ${#lists.size(product.details)}" class="row mb-3">
			<!-- Required Properties -->
			<input type="hidden" name="detailIds" th:value="0"/>
			<!-- Detail's Name -->
			<div class="input-group" style="width: 47.5%" title="Name must be 2-255 characters long">
				<label class="detail-label-padding">Name:</label>
				<input type="text" class="form-control rounded" name="detailNames" pattern=".{2,255}"/>
			</div>
			<!-- Detail's Value -->
			<div class="input-group" style="width: 47.5%" title="Value must be 2-255 characters long">
				<label class="detail-label-padding">Value:</label>
				<input type="text" class="form-control rounded" name="detailValues" pattern=".{2,255}"/>
			</div>
			<!-- Delete Button -->
			<div class="input-group" style="width: 5%" title="Delete this detail">
				<a class="detail-button-padding detail-button-manager linkRemoveDetail">
				    <i class="fa-solid fa-square-xmark fa-2x" style="height: 100% ; padding: 0.1rem"></i>
				</a>	
			</div>
		</div>
	</div> 
</div>
