<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{/common/fragments :: page_head('Error - Buyee Admin', 'none', null)}" />

<body>
	<!-- Header (navigation bar) -->
	<div th:replace="~{/common/header :: navbar('')}"></div>
	
	<div class="mt-3 container-fluid text-center">
		<h2>Sorry, the server encounters an error!</h2>
	</div>
	
	<!-- Footer -->
	<div th:replace="~{/common/footer :: footer}"></div>
</body>

</html>