/* Theme settings */

@import './theme.css';

/* Navigation Bar Items */

.navbar-custom {
	background-color: var(--main-black-normal) !important;
}

.nav-item-active {
	border-bottom: 1px solid var(--main-white-bright);
}

.nav-item-active:hover {
	border-bottom: 1px solid var(--main-gray-normal);
}

.nav-item-active>a {
	color: var(--main-white-bright);
}

.nav-item-inactive:hover {
	border-bottom: 1px solid var(--main-white-bright);
}

.nav-item-inactive>a {
	color: var(--main-gray-normal);
}

.nav-item-inactive>a:hover {
	color: var(--main-white-bright);
}

/* Navigation Bar Drop Down Menu */

.dropdown {
	display: inline-block;
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	width: 100%;
	overflow: auto;
	z-index: 10;
}

.dropdown-content a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: var(--main-gray-normal);
}

.dropdown:hover .dropdown-content {
	display: block;
	background-color: var(--main-white-bright);
	border: 1px solid var(--main-gray-light); 
}

.dropdown-content a:hover {
	color: var(--main-white-bright);
	background-color: var(--main-gray-light);
}

/* Alert Messages */

.alert-square {
	border-radius: 0px;
	border: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.alert-square-item {
	color: var(--main-white-bright);
	border: 0px;
	border-top: 1px solid var(--main-gray-normal);
	border-radius: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Responsive Settings */

@media screen and (max-width: 768px) {
	/* small screen */
	div.full-details {
		display: none
	}
	div.less-details {
		display: block
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* medium screen */
	div.full-details {
		display: block
	}
	div.less-details {
		display: none
	}
	.hideable-column {
		display: none
	}
}

@media screen and (min-width: 1024px) { 
	/* large screen */
	div.less-details {
		display: none
	}
	
	th.hideable-column {
		display: table-cell
	}
}
