@import './theme.css';

/* File Input Button */

.file-button-custom input[type=file]::-webkit-file-upload-button {
  display: none;
}

.file-button-custom input[type=file]::file-selector-button {
  display: none;
}

.file-button-custom input[type=file] {
  border-top-left-radius: var(--main-border-radius) !important;
  border-bottom-left-radius: var(--main-border-radius) !important;
}

.file-button-custom a:hover {
  cursor: pointer;
}

