@import './theme.css';
@import './components/header.css';
@import './components/footer.css';
/***********************/
/* Responsive Settings */
/***********************/
/* small screen */
@media screen and (max-width: 768px) {
	/* general components */
	div.full-details {display: none;}
	div.less-details {display: flex;}
	/* block-display components */
	div.full-details-block {display: none;}
	div.less-details-block {display: block;}
	/* image input components in Products Images Section */
	.expandable-image .expandable-image-content{width: 100%!important}
}
/* medium screen */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* general components */
	div.full-details {display: flex;}
	div.less-details {display: none;}
	/* block-display components */
	div.full-details-block {display: block;}
	div.less-details-block {display: none;}
	/* table column components */
	.hideable-column {display: none;}
	/* image input components in Products Images Section */
	.expandable-image .expandable-image-content{width: 25%!important}
}
/* large screen */
@media screen and (min-width: 1024px) { 
	/* general components */
	div.less-details {display: none;}
	/* block-display components */
	div.less-details-block {display: none;}
	/* table column components */
	th.hideable-column {display: table-cell;}
}
