@import './theme.css';
@import './components/header.css';
@import './components/footer.css';
/***********************/
/* Responsive Settings */
/***********************/
/* small screen */
@media screen and (max-width: 768px) {
	/* general components */
	div.full-details {display: none;}
	div.less-details {display: flex;}
	/* block-display components */
	div.full-details-block {display: none;}
	div.less-details-block {display: block;}
	/* website logo in the header */
	.cf-full-logo {display: block;}
	.cf-less-logo {display: none;}
	/* section text in the header */
	.cf-full-header-text {display: none;}
	.cf-less-header-text {display: block;}
	/* account item in the header */
	li.cf-list-item {
		margin-left: 0!important;
		width: cal(var(--cf-gx) * .5)!important;
		margin-right: var(--cf-gx)!important;
	}
	/* table column components in modal */
	.cf-hideable-column-modal {display: none;}
	/* image input components in Products Images Section */
	.cf-expandable-image{width: 100%!important;}
	/* information bars in Products modal */
	.cf-shrinkable-bar{width: 100%!important;}
	/* double information bars in Products Details form */
	.cf-shrinkable-bar-long{
		width: 100%!important;
		padding-bottom: var(--cf-mb-3);
	}
	.cf-shrinkable-bar-short{width: calc(100% - 60px)!important;}
	.cf-shrinkable-bar-long>label, .cf-shrinkable-bar-short>label{width: 60px!important;}
}
/* medium screen */
@media screen and (min-width: 768px) and (max-width: 980px) {
	/* general components */
	div.full-details {display: flex;}
	div.less-details {display: none;}
	/* block-display components */
	div.full-details-block {display: block;}
	div.less-details-block {display: none;}
	/* website logo in the header */
	.cf-full-logo {display: block;}
	.cf-less-logo {display: none;}
	/* section text in the header */
	.cf-full-header-text {display: none;}
	.cf-less-header-text {display: block;}
	/* account item in the header */
	li.cf-list-item {
		margin-left: 0!important;
		width: cal(var(--cf-gx) * .5)!important;
		margin-right: var(--cf-gx)!important;
	}
	/* table column components in sections homepage */
	.hideable-column {display: none;}
	/* table column components in modal */
	.cf-hideable-column-modal {display: none;}
	/* image input components in Products Images Section */
	.cf-expandable-image{width: 50%!important}
	/* information bars in Products modal */
	.cf-shrinkable-bar{width: 100%!important}
	/* double information bars in Products Details form */
	.cf-shrinkable-bar-long{
		width: 100%!important;
		padding-bottom: var(--cf-mb-3);
	}
	.cf-shrinkable-bar-short{width: calc(100% - 60px)!important;}
	.cf-shrinkable-bar-long>label, .cf-shrinkable-bar-short>label{width: 60px!important;}
}
/* large screen */
@media screen and (min-width: 980px) { 
	/* general components */
	div.less-details {display: none;}
	/* block-display components */
	div.less-details-block {display: none;}
	/* website logo in the header */
	.cf-full-logo {display: none;}
	.cf-less-logo {display: block;}
	/* section text in the header */
	.cf-full-header-text {display: block;}
	.cf-less-header-text {display: none;}
	/* account item in the header */
	li.cf-list-item {margin-right: .3%;}
	/* table column components */
	th.hideable-column {display: table-cell;}
}
