<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/universal :: head('Categories - Buyee Admin', 'none', 'categories')}"/>
<body>
	<div>
		<!-- Header (navigation bar) -->
		<div th:replace="~{/components/header :: navbar('Categories')}"></div>
		<!-- Float Window Message -->
		<div th:replace="~{/components/header :: floatwindow}"></div>
		<!-- Search Bar & Command Buttons -->
		<div th:replace="~{/components/search :: search_commands('categories')}"></div>
		<!-- Categories Table with full-details -->
		<div class="container-fluid full-details">
			<table class="table table-bordered table-hover table-responsive-xl">
				<!-- Table Head -->
				<thead>
					<tr>
						<th th:replace="~{/components/table::head_link('categories', 'image', 'Image', '50px', 'text-center', false)}" />
						<th th:replace="~{/components/table::head_link('categories', 'id', 'ID', '70px', 'text-center', true)}" />
						<th th:replace="~{/components/table::head_link('categories', 'name', 'Name', '', '', true)}" />
						<th th:replace="~{/components/table::head_link('categories', 'alias', 'Alias', '20%', '', true)}" />
						<th th:replace="~{/components/table::head_link('categories', 'enabled', 'Enabled', '120px', 'text-center', true)}" />
						<th th:replace="~{/components/table::head_link('categories', '', 'Actions', '40px', 'text-center', false)}" />
					</tr>
				</thead>
				<tbody>
					<tr th:each="category: ${listCategories}" th:id="${hierarchy ? category.id : 0}"
						th:class="${category.parent == null ? 'level_0' : 'level_'+category.level+' parent_'+category.parentId}">
						<td class="align-middle text-center">
							<img th:src="@{${category.getImagePathString()}}" style="width: 50px" />	
						</td>
						<td class="align-middle text-center" th:text="${category.getId()}"></td>
						<td class="align-middle" th:text="${category.getName()}"></td>
						<td class="align-middle" th:text="${category.getAlias()}" />
						<td class="align-middle text-center">
							<div th:replace="~{/components/table::button-enabled('categories', ${category}, '')}"></div>
						</td>
						<td class="align-middle text-center">
							<a th:replace="~{/components/table::button-update('categories', ${category}, '')}"></a>&nbsp;&nbsp;
							<a th:replace="~{/components/table::button-delete('categories', ${category}, '')}"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Table with less details -->
		<div class="less-details container-fluid">
			<table class="container-fluid">
				<tbody>
					<tr th:each="category: ${listCategories}" th:id="${category.id}"
						th:class="${category.parent == null ? 'level_0' : 'level_'+category.level+' parent_'+category.parentId}">
						<td>
							<div class="row mb-3">
								<!-- Left: Photo -->
								<div style="width: 220px">
									<img th:src="@{${category.getImagePathString()}}" style="width: 100%" />
								</div>
								<!-- Middle: Information -->
								<div style="width: 40%; padding-left: 0">
									<div class="mb-2"><b>ID: </b>[[${category.id}]]</div>
									<div class="mb-2"><b>Name: </b>[[${category.name}]]</div>
									<div class="mb-2"><b>Alias: </b>[[${category.alias}]]</div>
									<div><b>Superclass: </b>[[${category.parent}]]</div>
								</div>
								<!-- Right: Enabled & Actions -->
								<div class="" style="width: 64px; margin-left: auto">
									<div th:replace="~{/components/table::button-enabled('categories', ${category}, 'fa-2x mb-3')}"></div>
									<a th:replace="~{/components/table::button-update('categories', ${category}, 'fa-2x mb-4')}"></a>
									<a th:replace="~{/components/table::button-delete('categories', ${category}, 'fa-2x')}"></a>
								</div>
							</div>
							<hr />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Pagination -->
		<div th:if="${!hierarchy}">
			<div th:replace="~{/components/table::pagination('categories')}"></div>
		</div>
		<!-- Delete User Confirmation Modal -->
		<div th:replace="~{/components/modal :: modal_deletion}"></div>
		<!-- Footer -->
		<div th:replace="~{/components/footer :: footer}"></div>
	</div>
	<script type="text/javascript" th:src="@{/js/common_table.js}"></script>
</body>
</html>
