<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="~{/universal::head('Categories - Buyee Admin', 'tag', 'categories')}"/>
	<script type="text/javascript" th:src="@{/js/components/table.js}"></script>
	<script type="text/javascript" th:src="@{/js/webpages/categories/categories.js}"></script>
</head>
<body>
	<div>
		<!-- Header (navigation bar) -->
		<div th:replace="~{/components/header::navbar('Categories')}"></div>
		<!-- Float Window Message -->
		<div th:replace="~{/components/header::floatwindow}"></div>
		<!-- Dock with Search Bar and Command Buttons -->
		<div th:replace="~{/components/dock::search_buttons('categories')}"></div>
		<!-- Categories Table with full-details -->
		<div class="container-fluid full-details">
			<table class="table table-bordered table-hover table-responsive-xl">
				<!-- Table Head -->
				<thead>
					<tr>
						<!-- Image -->
						<th th:replace="~{/components/text::switch('categories', 'image', 'Image', '50px', 'text-center', false)}" />
						<!-- ID -->
						<th th:replace="~{/components/text::switch('categories', 'id', 'ID', '70px', 'text-center', true)}" />
						<!-- Name -->
						<th th:replace="~{/components/text::switch('categories', 'name', 'Name', '', '', true)}" />
						<!-- Alias -->
						<th th:replace="~{/components/text::switch('categories', 'alias', 'Alias', '20%', '', true)}" />
						<!-- Enabled -->
						<th th:replace="~{/components/text::switch('categories', 'enabled', 'Enabled', '120px', 'text-center', true)}" />
						<!-- Actions -->
						<th th:replace="~{/components/text::switch('categories', '', 'Actions', '40px', 'text-center', false)}" />
					</tr>
				</thead>
				<!-- Table Body -->
				<tbody>
					<tr th:each="category: ${listCategories}" th:id="${hierarchy ? category.id : 0}"
						th:class="${category.parent == null ? 'level_0' : 'level_'+category.level+' parent_'+category.parentId}">
						<!-- Image -->
						<td class="align-middle text-center">
							<img th:src="@{${category.getImagePathString()}}" style="width: 50px" />	
						</td>
						<!-- ID -->
						<td class="align-middle text-center" th:text="${category.getId()}"></td>
						<!-- Name -->
						<td class="align-middle">
							<div th:replace="~{/components/text::table_categories}"></div>
						</td>
						<!-- Alias -->
						<td class="align-middle" th:text="${category.getAlias()}" />
						<!-- Enabled -->
						<td class="align-middle text-center">
							<div th:replace="~{/components/button::enable('categories', ${category}, '')}"></div>
						</td>
						<!-- Actions -->
						<td class="align-middle text-center">
							<!-- Edit -->
							<a th:replace="~{/components/button::edit('categories', ${category}, '')}"></a>&nbsp;&nbsp;
							<!-- Delete -->
							<a th:replace="~{/components/button::delete_instance('categories', ${category}, '')}"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Categories Table with less details -->
		<div class="less-details container-fluid">
			<table class="container-fluid">
				<tbody>
					<hr/>
					<tr th:each="category: ${listCategories}" th:id="${category.id}"
						th:class="${category.parent == null ? 'level_0' : 'level_'+category.level+' parent_'+category.parentId}">
						<td>
							<div class="row mb-3">
								<!-- Left: Photo -->
								<div style="width: 220px">
									<img th:src="@{${category.getImagePathString()}}" style="width: 100%" />
								</div>
								<!-- Middle: Information -->
								<div style="width: 40%; padding-left: 0">
									<div class="mb-2"><b>ID: </b>[[${category.id}]]</div>
									<!-- Name -->
									<div class="mb-2">
										<div><b>Name:</b></div>
										<div th:replace="~{/components/text::table_categories}"></div>
									</div>
									<!-- Alias -->
									<div class="mb-2"><b>Alias: </b>[[${category.alias}]]</div>
									<!-- Super Category -->
									<div><b>Superclass: </b>[[${category.parent}]]</div>
								</div>
								<!-- Right: Enabled & Actions -->
								<div class="" style="width: 64px; margin-left: auto">
									<div th:replace="~{/components/button::enable('categories', ${category}, 'fa-2x mb-3 circle-icon-padding')}"></div>
									<a th:replace="~{/components/button::edit('categories', ${category}, 'fa-2x mb-4 icon-padding')}"></a>
									<a th:replace="~{/components/button::delete_instance('categories', ${category}, 'fa-2x icon-padding')}"></a>
								</div>
							</div>
							<hr />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Pagination -->
		<div th:if="${!hierarchy}">
			<div th:replace="~{/components/pagination::bar('categories')}"></div>
		</div>
		<!-- Delete User Confirmation Modal -->
		<div th:replace="~{/components/modal::confirm}"></div>
		<!-- Footer -->
		<div th:replace="~{/components/footer::copyright}"></div>
	</div>
</body>
</html>
