<!-- New Item Button -->
<div th:fragment="create(sectionName)" th:remove="tag">
	<a class="link-button-manager input-group-text border-0" id="search-addon" th:title="'Create ' + ${sectionName}" 
	   th:href="@{'/' + ${sectionName} + '/new'}"> 
		<i class="fa-solid fa-circle-plus fa-2x"></i>
	</a>
</div>
<!-- Clear Sorting Button -->
<div th:fragment="clear_sort(sectionName)" th:remove="tag">
	<a class="link-button-manager input-group-text border-0" id="search-addon" title="Clear Sorting"
	   th:href="@{'/' + ${sectionName} + '/page/' + ${pageNum} + ${keyword == null ? '' : '?keyword='+keyword}}"> 
	    <i class="fa-solid fa-square-xmark fa-2x"></i>
	</a>
</div>
<!-- Clear Search Button -->
<div th:fragment="clear_search(sectionName)" th:remove="tag">
	<a class="link-button-manager input-group-text link-clear-search" id="search-addon" title="Clear Search Results"
	   th:href="@{'/' + ${sectionName} + '/page/' + ${pageNum} + ${sortField == null && sortOrder == null ? '' : '?sortField='+sortField+'&sortOrder='+sortOrder}}">
		<i class="fa-solid fa-square-minus fa-2x"></i>
	</a> 
</div>
<!-- Export CSV File Button -->
<div th:fragment="export_csv(sectionName)" th:remove="tag">
	<a class="link-button-manager input-group-text border-0" id="search-addon" title="Export to csv"
	   th:href="@{'/' + ${sectionName} + '/export/csv'}"> 
	    <i class="fa-solid fa-file-csv fa-2x"></i>
	</a>
</div>
<!-- Export Excel File Button -->
<div th:fragment="export_excel(sectionName)" th:remove="tag">
	<a class="link-button-manager input-group-text border-0" id="search-addon" title="Export to excel"
	   th:href="@{'/' + ${sectionName} + '/export/excel'}"> 
	    <i class="fa-solid fa-file-excel fa-2x"></i>
	</a>
</div>
<!-- Export PDF File Button -->
<div th:fragment="export_pdf(sectionName)" th:remove="tag">
	<a class="link-button-manager input-group-text border-0" id="search-addon" title="Export to pdf"
	   th:href="@{'/' + ${sectionName} + '/export/pdf'}"> 
	    <i class="fa-solid fa-file-pdf fa-2x"></i>
	</a>	
</div>
