<!-- Filter Bar -->
<!-- Position: right of a clear_filter button -->
<div th:fragment="bar_right(sectionName, filterFormId)" th:remove="tag">
	<form th:action="@{'/' + ${sectionName} + '/page/1'}" th:title="'Filter ' + ${sectionName} + ' by category'"
		  class="form-inline form-control filter-bar-custom filter-bar-right" th:id="${filterFormId}">
		<!-- other searchers/sorters to coordinate with -->
		<!-- Sorter's input -->
		<input th:if="${sortField != null}" type="hidden" name="sortField" th:value="${sortField}" /> 
	    <input th:if="${sortOrder != null}" type="hidden" name="sortOrder" th:value="${sortOrder}" />
		<!-- Searcher's input -->
	    <input th:if="${keyword != null}" type="hidden" name="keyword" th:value="${keyword}" />
	    <!-- Enter a category to filter -->
	    <select class="form-control filter-select" name="categoryId">
	    	<option value="0">All Categories</option>
	    	<th:block th:each="category: ${listCategories}">
	    		<option th:value="${category.id}" th:selected="${categoryId == category.id}">
	    			[[${category.name}]]
	    		</option>
	    	</th:block>
	    </select>
	</form>
</div>
<!-- Filter Bar -->
<!-- Position: left of a clear_filter button -->
<!-- <div th:fragment="bar_left(sectionName)" th:remove="tag">
	<form th:action="@{'/' + ${sectionName} + '/page/1'}" th:title="'Filter ' + ${sectionName} + ' by category'"
		  class="form-inline form-control filter-bar-custom filter-bar-left filter-form">
		other searchers/sorters to coordinate with
		Sorter's input
		<input th:if="${sortField != null}" type="hidden" name="sortField" th:value="${sortField}" /> 
	    <input th:if="${sortOrder != null}" type="hidden" name="sortOrder" th:value="${sortOrder}" />
		Searcher's input
	    <input th:if="${keyword != null}" type="hidden" name="keyword" th:value="${keyword}" />
	    Enter a category to filter
	    <select class="form-control filter-select" name="categoryId">
	    	<option value="0">All Categories</option>
	    	<th:block th:each="category: ${listCategories}">
	    		<option th:value="${category.id}" th:selected="${categoryId == category.id}">
	    			[[${category.name}]]
	    		</option>
	    	</th:block>
	    </select>
	</form>
</div>
 -->