<!-- Copyright -->
<div th:fragment="copyright" class="text-center m-3 text-muted">
	<p style="color: var(--main-gray-light)">Buyee Control Panel (Copyright &copy; Buyee)</p>
</div>
<!-- Form Footer -->
<div th:fragment="form">
	<div><span class="form-text text-muted">ps. Blanks marked with * are required</span></div>
	<hr/>
	<div class="text-center">
		<input type="submit" value="Submit" class="btn btn-outline-danger m-2" />&nbsp;&nbsp;
		<input type="button" value="Cancel" class="btn btn-outline-dark" id="cancelButton" />
	</div>
</div>
