<!-- Main Page Navigation Bar -->
<div th:fragment="navbar(activeItem)">
	<!-- Hidden form for secure logout -->
	<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
		<input type="submit"/>
	</form>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
		<!-- Website logo -->
		<a class="navbar-brand" th:href="@{/}" style="margin-right: 0px;"> 
			<img src="https://buyee-db.s3.us-east-2.amazonaws.com/site-logo/buyee-logo.png" />
		</a>
		<!-- Toggler button to expand the drop down menu -->
		<!-- hidden in large screen and visible in medium/small screen -->
		<div th:replace="~{/components/button::toggler_navbar('')}"></div>
		<!-- Website Sections -->
		<div class="collapse navbar-collapse topNavbar">
			<ul class="navbar-nav cf-list">
				<!-- Users -->
				<th:block sec:authorize="hasAuthority('Admin')">
					<li th:replace="~{/components/text::header('Users')}"/>&nbsp;
				</th:block>
				<!-- Categories -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<li th:replace="~{/components/text::header('Categories')}"/>&nbsp;
				</th:block>
				<!-- Brands -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<li th:replace="~{/components/text::header('Brands')}"/>&nbsp;
				</th:block>
				<!-- Products -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Editor', 'Shipper')">
					<li th:replace="~{/components/text::header('Products')}"/>&nbsp;
				</th:block>
				<!-- Questions -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Assistant')">
					<li th:replace="~{/components/text::header('Questions')}"/>&nbsp;
				</th:block>
				<!-- Reviews -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Assistant')">
					<li th:replace="~{/components/text::header('Reviews')}"/>&nbsp;
				</th:block>
				<!-- Customers -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
					<li th:replace="~{/components/text::header('Customers')}"/>&nbsp;
				</th:block>
				<!-- Shipping -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
					<li th:replace="~{/components/text::header('Shipping')}"/>&nbsp;
				</th:block>
				<!-- Orders -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Shipper')">
					<li th:replace="~{/components/text::header('Orders')}"/>&nbsp;
				</th:block>
				<!-- Reports -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
					<li th:replace="~{/components/text::header('Reports')}"/>&nbsp;
				</th:block>
				<!-- Articles -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<li th:replace="~{/components/text::header('Articles')}"/>&nbsp;
				</th:block>
				<!-- Menus -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<li th:replace="~{/components/text::header('Menus')}"/>&nbsp;
				</th:block>
				<!-- Settings -->
				<th:block sec:authorize="hasAnyAuthority('Admin')">
					<li th:replace="~{/components/text::header('Settings')}"/>&nbsp;
				</th:block>
			</ul>
		</div>
		<!-- Account Section -->
		<div class="collapse navbar-collapse topNavbar">
			<ul class="navbar-nav section-list-custom">
				<li th:class="${activeItem == 'Account' 
								? 'nav-item ml-auto cf-dropdown-header nav-item-active'
								: 'nav-item ml-auto cf-dropdown-header nav-item-inactive'}">
					<!-- Drop Down Toggler -->
					<a class="nav-link dropdown-toggle" th:href="@{/account}">
						<!-- Icon -->
						<i class="fas fa-user"></i> &nbsp;
						<!-- Username -->
						<span sec:authentication="principal.fullName"></span>
					</a>
					<!-- Drop Down Menu -->
					<div class="cf-dropdown-header-content">
						<a th:href="@{/account }">Account</a>
						<a id="logoutLink" href="">Logout</a>
				  	</div>
				</li>
			</ul>
		</div>
	</nav>
</div>
<!-- Float Window -->
<div th:fragment="floatwindow" th:if="${message != null}" class="alert alert-secondary text-center bg-dark cf-floatwindow">
	<div class="cf-floatwindow-content form-control bg-dark">[[${message}]]</div>
</div>
<!-- Form Header -->
<div th:fragment="form_cancel(title)" th:remove="tag">
	<div class="mb-3 modal-header">
		<h2>[[${title}]]</h2>
		<input type="button" class="btn-close cancelButton"/>
	</div>
	<hr />
</div>
