<!-- Main Page Navigation Bar -->
<div th:fragment="navbar(activeItem)">
	<!-- Hidden form for secure logout -->
	<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
		<input type="submit"/>
	</form>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark cf-text-header">
		<!-- Website logo -->
		<a class="navbar-brand" th:href="@{/}" style="margin-right: 0px;"> 
			<img class="cf-less-logo" src="https://buyee-db.s3.us-east-2.amazonaws.com/site-logo/buyee-logo-text.png" />
			<img class="cf-full-logo" src="https://buyee-db.s3.us-east-2.amazonaws.com/site-logo/buyee-logo.png" />
		</a>
		<!-- Toggler button to expand the drop down menu -->
		<!-- hidden in large screen and visible in medium/small screen -->
		<div th:replace="~{/components/button::toggler_navbar('')}"></div>
		<!-- Website Sections -->
		<div class="collapse navbar-collapse topNavbar row">
			<ul class="navbar-nav cf-list">
				<!-- Users -->
				<th:block sec:authorize="hasAuthority('Admin')">
					<li th:replace="~{/components/text::header('Users', 'fa-solid fa-user-group')}"/>&nbsp;
				</th:block>
				<!-- Categories -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<li th:replace="~{/components/text::header('Categories', 'fa-solid fa-square-poll-horizontal')}"/>&nbsp;
				</th:block>
				<!-- Brands -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<li th:replace="~{/components/text::header('Brands', 'fa-solid fa-signature')}"/>&nbsp;
				</th:block>
				<!-- Products -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Editor', 'Shipper')">
					<li th:replace="~{/components/text::header_products}"/>&nbsp;
				</th:block>
				<!-- Questions -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Assistant')">
					<li th:replace="~{/components/text::header('Questions', 'fa-solid fa-circle-question')}"/>&nbsp;
				</th:block>
				<!-- Reviews -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Assistant')">
					<li th:replace="~{/components/text::header('Reviews', 'fa-solid fa-comments')}"/>&nbsp;
				</th:block>
				<!-- Customers -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
					<li th:replace="~{/components/text::header('Customers', 'fa-solid fa-user-tag')}"/>&nbsp;
				</th:block>
				<!-- Shipping -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
					<li th:replace="~{/components/text::header('Shipping', 'fa-solid fa-truck-fast')}"/>&nbsp;
				</th:block>
				<!-- Orders -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Shipper')">
					<li th:replace="~{/components/text::header('Orders', 'fa-solid fa-box')}"/>&nbsp;
				</th:block>
				<!-- Reports -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
					<li th:replace="~{/components/text::header('Reports', 'fa-solid fa-clipboard-list')}"/>&nbsp;
				</th:block>
				<!-- Articles -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<li th:replace="~{/components/text::header('Articles', 'fa-solid fa-book')}"/>&nbsp;
				</th:block>
				<!-- Menus -->
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<li th:replace="~{/components/text::header('Menus', 'fa-solid fa-list-ul')}"/>&nbsp;
				</th:block>
				<!-- Settings -->
				<th:block sec:authorize="hasAnyAuthority('Admin')">
					<li th:replace="~{/components/text::header('Settings', 'fa-solid fa-gear')}"/>&nbsp;
				</th:block>
				<!-- Account Section -->
				<li th:replace="~{/components/text::header_account}"/>
				<li class="cf-less-header-text">&nbsp;</li>
			</ul>
		</div>
		<!-- <div class="collapse navbar-collapse topNavbar">
			<ul class="navbar-nav cf-list">
				
			</ul>
		</div> -->
	</nav>
</div>
<!-- Float Window -->
<div th:fragment="floatwindow" th:if="${message != null}" class="alert alert-secondary text-center bg-dark cf-floatwindow">
	<div class="cf-floatwindow-content form-control bg-dark">[[${message}]]</div>
</div>
<!-- Form Header -->
<div th:fragment="form_cancel(title)" th:remove="tag">
	<div class="mb-3 modal-header">
		<h2>[[${title}]]</h2>
		<input type="button" class="btn-close cancelButton"/>
	</div>
	<hr />
</div>
