<!-- Search Bar -->
<div th:fragment="bar(sectionName)" th:remove="tag">
	<form th:action="@{'/' + ${sectionName} + '/page/1'}" class="form-inline form-control search-bar-custom">
		<input th:if="${sortField != null}" type="hidden" name="sortField" th:value="${sortField}" /> 
	    <input th:if="${sortOrder != null}" type="hidden" name="sortOrder" th:value="${sortOrder}" />
	    <input type="search" name="keyword" th:value="${keyword}" id="search" class="form-control" 
	           placeholder="Search..." aria-label="Search" required aria-describedby="search-addon" 
	           th:title="'Search ' + ${sectionName}" />
	</form>
</div>
