<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/universal :: head('', 'none', null)}" />
<body>
	<!-- Search Bar & Command Buttons -->
	<div th:fragment="search_commands(sectionName)" 
		 class="input-group rounded container-fluid mt-3 mb-3">
		<!-- New Item Button -->
		<a class="link-button-manager input-group-text border-0" id="search-addon" th:title="'Create ' + ${sectionName}" 
		   th:href="@{'/' + ${sectionName} + '/new'}"> 
			<i class="fa-solid fa-circle-plus fa-2x"></i>
		</a>
		<!-- Clear Sorting Button -->
		<a class="link-button-manager input-group-text border-0" id="search-addon" title="Clear Sorting"
		   th:href="@{'/' + ${sectionName} + '/page/' + ${pageNum} + ${keyword == null ? '' : '?keyword='+keyword}}"> 
		    <i class="fa-solid fa-square-xmark fa-2x"></i>
		</a>
		<!-- Clear Search Button -->
		<a class="link-button-manager input-group-text link-clear-search" id="search-addon" title="Clear Search Results"
		   th:href="@{'/' + ${sectionName} + '/page/' + ${pageNum} + ${sortField == null && sortOrder == null ? '' : '?sortField='+sortField+'&sortOrder='+sortOrder}}">
			<i class="fa-solid fa-square-minus fa-2x"></i>
		</a> 
		<!-- Search Bar -->
		<form th:action="@{'/' + ${sectionName} + '/page/1'}" class="form-inline form-control search-bar-custom">
			<input th:if="${sortField != null}" type="hidden" name="sortField" th:value="${sortField}" /> 
		    <input th:if="${sortOrder != null}" type="hidden" name="sortOrder" th:value="${sortOrder}" />
		    <input type="search" name="keyword" th:value="${keyword}" id="search" class="form-control" 
		           placeholder="Search..." aria-label="Search" required aria-describedby="search-addon" 
		           th:title="'Search ' + ${sectionName}" />
		</form>
		<!-- Command Buttons -->
		<a class="link-button-manager input-group-text border-0" id="search-addon" title="Export to csv"
		   th:href="@{'/' + ${sectionName} + '/export/csv'}"> 
		    <i class="fa-solid fa-file-csv fa-2x"></i>
		</a>
		<a class="link-button-manager input-group-text border-0" id="search-addon" title="Export to excel"
		   th:href="@{'/' + ${sectionName} + '/export/excel'}"> 
		    <i class="fa-solid fa-file-excel fa-2x"></i>
		</a>
		<a class="link-button-manager input-group-text border-0" id="search-addon" title="Export to pdf"
		   th:href="@{'/' + ${sectionName} + '/export/pdf'}"> 
		    <i class="fa-solid fa-file-pdf fa-2x"></i>
		</a>	
	</div>
</body>
</html>