<!-- Tab Bar -->
<div th:fragment="bar(sectionTitle, extraClass)">
	<ul th:class="'nav nav-justified ' + ${extraClass}" id="myTab" role="tablist">
		<!-- Tab Bar in Products Section -->
		<th:block th:if="${sectionTitle=='products'}">
			<div th:replace="~{/components/tab::item('Overview', 'fa-brands fa-elementor', 'active')}"></div>
			<div th:replace="~{/components/tab::item('Description', 'fa-brands fa-readme', '')}"></div>
			<div th:replace="~{/components/tab::item('Images', 'fa-solid fa-images', '')}"></div>
			<div th:replace="~{/components/tab::item('Details', 'fa-solid fa-circle-info', '')}"></div>
			<div th:replace="~{/components/tab::item('Shipping', 'fa-solid fa-truck-fast', '')}"></div>
		</th:block>
		<!-- Tab Bar in Settings Section -->
		<th:block th:if="${sectionTitle=='settings'}">
			<div th:replace="~{/components/tab::item('General', 'fa-solid fa-gears', 'active')}"></div>
			<div th:replace="~{/components/tab::item('Countries', 'fa-solid fa-globe', '')}"></div>
			<div th:replace="~{/components/tab::item('States', 'fa-solid fa-flag', '')}"></div>
			<div th:replace="~{/components/tab::item('Mail Server', 'fa-solid fa-server', '')}"></div>
			<div th:replace="~{/components/tab::item('Mail Templates', 'fa-solid fa-envelope', '')}"></div>
		</th:block>
	</ul>
</div>
<!-- Tab nav-item with texts(full screen)/images(small screen) -->
<div th:fragment="item(title, imageClass, extraClass)" th:remove="tag">
	<li class="nav-item" th:title="${title}">
    	<a th:class="'nav-link '+${extraClass}" data-bs-toggle="tab" th:data-bs-target="'#'+${title.toLowerCase()}" 
    	   role="tab" type="button">
    		<span class="align-middle full-details-block">[[${title}]]</span>
    		<span class="less-details-block"><i th:class="'align-middle '+${imageClass}"></i></span>
   	    </a>
  	</li>
</div>
