<!-- Section Item in webpages's header -->
<li th:fragment="header(sectionName)"
	th:class="${activeItem == sectionName ? 'nav-item nav-item-active' : 'nav-item nav-item-inactive'}">
	<a class="nav-link" th:href="@{${'/' + sectionName.toLowerCase()}}">[[${sectionName}]]</a>
</li>
<!-- Hyperlink Text in Categories Table -->
<div th:fragment="table_categories" class="text-action-tree">
	<!-- Display in hierarchy mode -->
	<th:block th:if="${hierarchy}">
		<a th:if="${category.children != null && category.children.size != 0}" 
		   th:text="${category.name}" th:href="'#'+${category.id}"></a>
		<span th:unless="${category.children != null && category.children.size != 0}">
			[[${category.name}]]
		</span>
	</th:block>
	<!-- Display in normal table mode -->
	<th:block th:unless="${hierarchy}">
		<span>[[${category.name}]]</span>
	</th:block>
</div>
<!-- Hyperlink Text in Products Table -->
<div th:fragment="table_products" class="text-action-list">
	<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson', 'Shipper')">
		<!-- link-detail is required for using preview-modal -->
		<a class="link-detail" title="View this product" th:text="${product.shortName}" 
		   th:href="@{'/products/view/' + ${product.id}}"></a> 
	</th:block>
	<th:block sec:authorize="hasAuthority('Assistant')">
		<a title="View this product" th:text="${product.shortName}"></a> 
	</th:block>
</div>
