<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Login - Buyee Admin</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body class="bg-dark">
	<div class="container-fluid">
	
		<!-- Buyee Logo -->
		<div class="mt-5 mb-5 text-center">
			<img src="https://buyee-db.s3.us-east-2.amazonaws.com/site-logo/buyee-logo.png" />
		</div>
		
		<!-- Login Form -->
		<form th:action="@{/login}" method="post" style="max-width: 300px; margin: auto;">
			<div class="border border-secondary rounded p-3 mb-3">
				<div class="text-center" style="margin-bottom: 10%">
					<div th:if="${param.logout == null}" class="mb-3" style="color: white">Welcome</div>
					<div th:if="${param.logout != null}" class="mb-3" style="color: white">You are logged out!</div>
					<div class="mb-3">
						<input th:if="${param.logout == null}" type="email" name="email" class="form-control" 
							   required placeholder="username@domain.com" style="width: 90%; margin: auto" />
					</div>
					<div class="mb-3">
						<input th:if="${param.logout == null}" type="password" name="password" class="form-control" 
							   required placeholder="password" style="width: 90%; margin: auto" />
					</div>
					<div class="mb-3">
						<input th:if="${param.logout == null}" type="submit" value="Login" 
							   class="btn btn-outline-danger" style="width: 90%" />
						<a th:if="${param.logout != null}" type="submit" class="btn btn-outline-danger" 
							    style="width: 90%" th:href="@{/login}">
							Login again
						</a>
					</div>
				</div>
				<div>
					<hr th:if="${param.logout == null}" style="color: white; margin: auto; border-top: 0.5px solid white"/>
				</div>
				<div th:if="${param.logout == null}" style="padding-left: 5%; padding-top: 5%; width: 100%">
					<input class="align-middle" type="checkbox" name="remember-me"
					       style="opacity: .6; accent-color: rgb(100, 100, 100); height: 10px" /> 
					<span class="align-middle" style="color: rgb(100, 100, 100); font-size: 12px">
						Remember Me
					</span>
				</div>
			</div>
			
			<!-- Login/Logout Response -->
			<div class="text-center">
				<div th:if="${param.error}">
					<div class="text-danger">
						[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
					</div> 
				</div>
			</div>
			
		</form>
		
	</div>
</body>

</html>
