<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Param: title  -- customized title of webpages -->
<!--                  leave it blank when used by components -->
<!-- Param: remove -- enter "tag" if more special dependencies are needed -->
<!--                  enter "none" by default -->
<!-- Param: type   -- select special customized dependencies -->
<!--                  enter null by default -->
<head th:fragment="head(title, remove, type)" th:remove="${remove}">
	<!-- Metadata -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<!-- Title -->
	<title>[[${title}]]</title>
	<!-- Downloaded Dependencies -->
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<!-- Customized Dependencies (Universal)  -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/universal.css}" />
	<script type="text/javascript" th:src="@{/js/universal.js}"></script>
	<!-- Customized Dependencies (Special) -->
	<link th:if="${type == '403'}" rel="stylesheet" type="text/css" th:href="@{/css/error/403.css}" />
	<link th:if="${type == '404'}" rel="stylesheet" type="text/css" th:href="@{/css/error/404.css}" />
	<link th:if="${type == '500'}" rel="stylesheet" type="text/css" th:href="@{/css/error/500.css}" />
	<link th:if="${type == 'error'}" rel="stylesheet" type="text/css" th:href="@{/css/error/error.css}" />
	<link th:if="${type == 'index'}" rel="stylesheet" type="text/css" th:href="@{/css/webpages/index.css}" />
	<link th:if="${type == 'account_form'}" rel="stylesheet" type="text/css" th:href="@{/css/webpages/users/account_form.css}" />
	<link th:if="${type == 'users'}" rel="stylesheet" type="text/css" th:href="@{/css/webpages/users/users.css}" />
	<link th:if="${type == 'users_form'}" rel="stylesheet" type="text/css" th:href="@{/css/webpages/users/users_form.css}" />
	<link th:if="${type == 'categories'}" rel="stylesheet" type="text/css" th:href="@{/css/webpages/categories/categories.css}" />
	<link th:if="${type == 'categories_form'}" rel="stylesheet" type="text/css" th:href="@{/css/webpages/categories/categories_form.css}" />
	<link th:if="${type == 'brands'}" rel="stylesheet" type="text/css" th:href="@{/css/webpages/brands/brands.css}" />
	<link th:if="${type == 'brands_form'}" rel="stylesheet" type="text/css" th:href="@{/css/webpages/brands/brands_form.css}" />
	<link th:if="${type == 'products'}" rel="stylesheet" type="text/css" th:href="@{/css/webpages/products/products.css}" />
	<link th:if="${type == 'products_form'}" rel="stylesheet" type="text/css" th:href="@{/css/webpages/products/products_form.css}" />
</head>
<body>
</body>
</html>
